/* Documento css*/

body {
    background-color: azure;
}

* {
    margin-right: 8;
    margin-left: 3;
    margin-top: 1;
    padding: 0;
}

.menu ul li {
    position: relative;
    top: 40%;
    left: 40%;
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(109, 228, 255);
    font-family: Tahoma;
    font-size: 16px;
    color: #000000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0)!important;
}

ul li a {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

ul li:hover {
    background-color: #ff2e2e
}

#header {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: #000;
}

#picture1 {
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    /*opacity: 0.3;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}


/*#picture1:hover {
    width: 800px;
    height: 800px;
}*/

.textpicture1 {
    max-width: 50%;
    height: auto;
    top: 10%;
    left: 10%;
    margin-top: 670px;
    margin-left: 500px;
    margin-right: 400px;
}

#picture2 {
    max-width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-top: 700px;
    margin-left: 300px;
    margin-right: 300px;
    /*opacity: 0.3;
    filter: alpha(opacity=40);
    /*For IE8 and earlier */
}

.textpicture2 {
    max-width: 50%;
    height: auto;
    top: 10%;
    left: 10%;
    margin-top: 500px;
    margin-left: 500px;
    margin-right: 400px;
}

#picture3 {
    max-width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-top: 1230px;
    margin-left: 300px;
    margin-right: 300px;
    /*opacity: 0.3;
    filter: alpha(opacity=40);
    /*For IE8 and earlier */
}

.textpicture3 {
    max-width: 50%;
    height: auto;
    top: 10%;
    left: 10%;
    margin-top: 670px;
    margin-left: 500px;
    margin-right: 400px;
}