<html>

<head>
    <title>Galeria de fotos</title>
    <link rel="stylesheet" type="text/css" href="style1.css" />
</head>

<body bgcolor="#000000">
    <div class="top_div">
        <p align="center">
            <font size="10" face="arial"> Apaixonados por maquinas do asphalto
        </p>
    </div>
    <img src="musclecars.jpg" id="picture1" />
    <div class="textpicture1">
        <font size="5" face="arial">Chevelle SS</div>

    <img src="dodgechallenger.jpg" id="picture2" />
    <div class="textpicture2">
        <font size="5" face="arial">Dodge Challenger</div>
    <br>
    <img src="shelbymustanggt500.jpg" id="picture3" />
    <div class="textpicture3">
        <font size="5" face="arial">Shelby Mustang GT500</div>
    <br>
    <br>
    <br>

    </div>
</body>

</html>